In [1]:
import pandas as pd

Import Dataset on Big 5 Tech Companies from [Kaggle](https://www.kaggle.com/abdullahmu/big-five-stocks) 
I have use pd.read_csv instead of pd.DataFrame.from_csv since it is no longer supported

In [2]:
# Please include correct filepath in which you downloaded the csv
big5 = pd.read_csv(r"..\Week1\big_five_stocks.csv")

In [3]:
# First 5 values in our dataframe are obtained using .head() method 
big5.head()

   Unnamed: 0   name    open   close    high     low  volume
0  1971-02-05  ^IXIC  100.00  100.00  100.00  100.00     0.0
1  1971-02-08  ^IXIC  100.84  100.84  100.84  100.84     0.0
2  1971-02-09  ^IXIC  100.76  100.76  100.76  100.76     0.0
3  1971-02-10  ^IXIC  100.69  100.69  100.69  100.69     0.0
4  1971-02-11  ^IXIC  101.45  101.45  101.45  101.45     0.0